<div class="container">
  <h1 class="text-center" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Profiles with their interests</h1>
  <hr>
  <table class="table table-hover table-bordered" style="background-color: rgb(127, 127, 112);">
      <thead style="color: white;">
          <tr>
          <th>Username</th>
          <th>Gender</th>
          <th>Email</th>
          <th>Interest</th>
      </tr>
      </thead>
      <tbody *ngIf="rarr.length > 0; else noRecords" style="background-color: aliceblue;">
          <tr *ngFor="let user of rarr">
              <td><b>{{user.username}}</b></td>
              <td><b>{{user.gender}}</b></td>
              <td><b>{{user.emailid}}</b></td>
              <td><b>{{user.interest}}</b></td>
             <td><a (click)="chatnow()" class="btn btn-info">Chat Now</a></td>
        </tr>
      </tbody>
      <ng-template #noRecords>
        <p>No Records found of same interests</p>
      </ng-template>
  </table>
  <hr>
</div>