<h1 align="center" class="head2">About Us</h1>
<div class="contact-container">
    <div class="address"><h4><b>Purpose</b></h4>
         to create a welcoming space where users can explore shared interests, exchange ideas, and form friendships based on common passions, ultimately enriching their social experiences, aims to foster connections by providing a platform for people to engage in live chats with random individuals from around the world.
    </div><br>
<div class="address">
    <h4><b>Address</b></h4>
    Kesarkar peth kumbharwada, Satara<br>
    Maharashtra, India<br>
    pin- 415002
</div><br>
<div class="address">
    <h4><b>Contact</b></h4>
    <b>Contact No:</b> 9876543210<br>      9012345678<br>
    <b>Email:</b>randomeetgmail.com<br>
    <b><img src="in.jpg" width="20" height="20" align="middle">randomeet</b>
    
</div><br>
<div class="map">
    <img src="lo.jpg" width="50" height="50"><h4><b>Location</b></h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d686.717940829779!2d73.99850279199875!3d17.68372045255701!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1729428427585!5m2!1sen!2sin" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</div>
<hr>
